
h1,
h2,
h3,
h4,
button {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #deddee;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.side-bar {
  background-color: #3c3c57;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

table {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

th,
td {
  color: #000000;
  border: 1px dotted;
}

th {
  background-color: #4f4f6f; /* Adjusted to meet WCAG contrast guidelines */
  color: #ffffff; /* Added white text color for better contrast */
}

tr:nth-child(even) {
  background-color: #e6e6f2; /* Adjusted to meet WCAG contrast guidelines */
}

tr:nth-child(odd) {
  background-color: #d2d2e6; /* Adjusted to meet WCAG contrast guidelines */
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.side-bar {
  background-color: #3c3c57;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1020;
}

.accentFontColor {
  color: #12af6e !important;
  font-weight: bold;
}

.brand-title {
  font-size: 1.2em;
  font-weight: bold;
}

h1 {
  color: #282f77;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* CSS for small screens */
@media (max-width: 992px) {
  .navbar-collapse {
    background-color: #3c3c57;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .navbar-brand {
    margin-right: auto;
    white-space: nowrap; /* Prevent "Periodic Tables" from breaking to the next line */
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center; /* Center menu items vertically */
  }

  .nav-item {
    margin-right: 15px;
  }
}


/* CSS for larger screens */
@media (min-width: 1201) {
  .navbar-collapse {
    background-color: #3c3c57;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .navbar-nav {
    flex-direction: column;
  }

  .nav-item {
    margin-right: 0.5rem;
  }

  .navbar-brand {
    margin-right: auto;
    white-space: normal;
    font-size: 25px; /* Adjust the font size for "Periodic Tables" */

  }
}






