
h1,
h2,
h3,
h4,
button {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #deddee;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.side-bar {
  background-color: #3c3c57;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

table {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

th,
td {
  color: #000000;
  border: 1px dotted;
}

th {
  background-color: #4f4f6f; /* Adjusted to meet WCAG contrast guidelines */
  color: #ffffff; /* Added white text color for better contrast */
}

tr:nth-child(even) {
  background-color: #e6e6f2; /* Adjusted to meet WCAG contrast guidelines */
}

tr:nth-child(odd) {
  background-color: #d2d2e6; /* Adjusted to meet WCAG contrast guidelines */
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.side-bar {
  background-color: #3c3c57;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1020;
}

.accentFontColor {
  color: #12af6e !important;
  font-weight: bold;
}

.brand-title {
  font-size: 1.2em;
  font-weight: bold;
}

h1 {
  color: #282f77;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media only screen and (min-width: 768px) {
  .main-container {
    flex-direction: row;
  }
}
